body {
}

#banner {
  width: 100%;
}

div.principal {
  background-color: darkgrey;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
  font-size: 20px;
}

strong.strong {
  color: red;
}

li.itens {
  font-style: italic;
}

div.beneficios {
  background: #ffffff;
  padding: 20px;
}

ul.lista {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

img.imagembeneficios {
  width: 50%;
}
